.hong-layout-block {
    display: inline-block;
    width: 50%;
    min-width: 200px;
    vertical-align: top;
}

.hong-layout-block svg {
    max-width: 100%;
    font: 10px sans-serif;
}

img {
    max-width: 100%;
}

.hong-layout-block h1 {
    font-family: Arial, serif;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: rgb(244,128,36);
    margin: 5px;
}

@media only screen and (max-width: 620px) { .hong-layout-block h1 { font-size: 14px; }}
@media only screen and (max-width: 500px) { .hong-layout-block h1 { font-size: 10px; }}
@media only screen and (max-width: 350px) { .hong-layout-block h1 { font-size: 8px; }}

.hong-layout-block .content {
    font-family: Arial, serif;
    font-size: 12px;
    margin-bottom: 5px;
}