.axis path,
.axis line {
    fill: none;
    stroke: #888887;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #97C37C;
}

.chart-lines path {
    fill: none;
    stroke-width: 2px;
    opacity: 0.5;
}

svg circle {
    stroke: white;
    stroke-width: 1;
    cursor: pointer;
}

div.tooltip {
    position: absolute;
    min-width: 36px;
    padding: 4px;
    font: 8px sans-serif;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    pointer-events: none;
}
