.axis path,
.axis line {
    fill: none;
    stroke: #888887;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #97C37C;
}

.chart-lines path {
    fill: none;
    stroke-width: 1px;
    opacity: 0.5;
}

svg .chart-lines circle {
    stroke: white;
    stroke-width: 1px;
    cursor: pointer;
    transition: r 0.3s ease-out;
}

svg circle.big {
    r: 9
}

.bau-reduce-area:hover {
    opacity: 0.5;
}

div.tooltip {
    position: absolute;
    min-width: 36px;
    font: 10px sans-serif;
    background: white;
    border: 1px solid #E5B951;
    box-shadow: 0 0 1px 0 rgba(69, 66, 66, 0.75);
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
}

div.tooltip .content {
    padding: 3px;
}

div.tooltip .header {
    padding: 1px 3px;
    background: #E5B951;
    color: white;
}

.opacity-animate {
    transition: opacity 0.5s ease-out;
}