<div class="wrapper">
    <div class="badge" ng-transclude></div>
    <div class="max-height-limit">
        <div ng-repeat="chart in data track by chart.id" class="checkbox" ng-class="{bold: chart.$highlight}">
            <label>
                <select ng-model="chart.$shiftYear" ng-change="chart.$selected = true;onUpdate()" class="years-checkbox"
                        ng-if="yearsShift"
                        ng-options="year for year in shiftYears track by year">
                </select>
            </label>
            <label>
                <input type="checkbox" ng-model="chart.$selected" ng-change="onUpdate()">
                <div class="color-box" ng-if="chart.color"
                     ng-style="{background: chart.color, visibility: chart.$selected ? 'visible' : 'hidden'}"></div>
                <span class="real-label">{{ chart.name }}</span>
                <select ng-model="chart.$selectedDropDown" ng-change="chart.$selected = true;onUpdate()"
                        class="custom-select"
                        ng-if="chart.dropdowns"
                        ng-options="option.name for option in chart.dropdowns track by option.id">
                </select>
            </label>
        </div>
    </div>
</div>
<div class="check-tooltip"></div>
