<div class="badge" ng-transclude></div>
<div ng-repeat="targetChart in data" class="checkbox">
    <label>
        <div class="color-box"
             ng-style="{background: targetChart.color, visibility: targetChart.$selected ? 'visible' : 'hidden'}"></div>
        <input type="checkbox" ng-model="targetChart.$selected" ng-change="onUpdate()" ng-disabled="!$index && false">
        <span class="real-label">
            {{targetChart.ID}}
            {{ targetChart.name }}
        </span>
    </label>
</div>