[svg-hong-chart] {
    .axis {
        path, line {
            fill: none;
            stroke: rgb(94,95,97);
            shape-rendering: crispEdges;
        }
        text {
            fill: rgb(94,95,97);
        }
    }

    .chart-lines {
        path {
            fill: none;
            opacity: 0.5;
        }
        circle {
            stroke: white;
            cursor: pointer;
            transition: r 0.3s ease-out;
            &.big {
                r: 9
            }
        }

    }

    .bau-reduce-area:hover {
        opacity: 0.5;
    }
}

svg {
    overflow hidden // IE fix
}