[svg-hong-chart] .axis path,
[svg-hong-chart] .axis line {
  fill: none;
  stroke: #888887;
  shape-rendering: crispEdges;
}
[svg-hong-chart] .axis text {
  fill: #97c37c;
}
[svg-hong-chart] .chart-lines path {
  fill: none;
  opacity: 0.5;
}
[svg-hong-chart] .chart-lines circle {
  stroke: #fff;
  cursor: pointer;
  transition: r 0.3s ease-out;
}
[svg-hong-chart] .chart-lines circle.big {
  r: 9;
}
[svg-hong-chart] .bau-reduce-area:hover {
  opacity: 0.5;
}
